<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
      <ion-card>
        <ion-card-header>
          Forgot Password
        </ion-card-header>
        
        <ion-list>
          <ion-item>
            <h2>Mobile Number</h2>
            <ion-input type="tel" [(ngModel)]="mobileNo"></ion-input>
          </ion-item> 

          <ion-item >
            <button ion-button outline (click)="sendOTP()">Send OTP</button> 
          </ion-item> 
          <ion-item *ngIf="otp">
           <ion-input type="text" [(ngModel)]="user.otp"></ion-input> 
           <p style="text:align:center" *ngIf="verify">{{user.otpMessage}}</p>
          </ion-item> 

          <ion-item *ngIf="otp">
            Credentials have been sent to your registered mobile number.
          </ion-item> 
        </ion-list>
      </ion-card> 

 
</ion-content>
